<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<form class="form-horizontal" th:action="@{/private/users/new}" th:object="${user}" method="post">
    <fieldset>
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name</label>
            <div class="col-md-4">
                <input id="name" name="name" type="text" th:field="*{profile.name}" placeholder="" class="form-control input-md"
                       required maxlength="20">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="surname">Surname</label>
            <div class="col-md-4">
                <input id="surname" name="surname" type="text" th:field="*{profile.surname}" placeholder="" class="form-control input-md"
                       required maxlength="40">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="patronymic">Patronymic</label>
            <div class="col-md-4">
                <input id="patronymic" name="patronymic" type="text" th:field="*{profile.patronymic}" placeholder="" class="form-control input-md"
                       required maxlength="40">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email</label>
            <div class="col-md-4">
                <input id="email" name="email" type="text" th:field="*{email}" placeholder="" class="form-control input-md"
                       required maxlength="50">

            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="role">Role</label>
            <div class="col-md-4">
                <select id="role" name="role" th:field="*{role.role}" class="form-control">
                    <option th:each="role:${roles}" th:value="${role.role}" th:text="${role.role}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="save"></label>
            <div class="col-md-4">
                <button id="save" name="save" class="btn btn-primary">Save</button>
            </div>
        </div>
    </fieldset>
</form>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>