<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${article.topic}">
    </title>
</head>
<body>
<article>
    <h1 th:text="${article.topic}"></h1>
    <p class="article-meta"> <strong>Author:</strong>
        <strong th:text="${article.user.profile.name+' '+article.user.profile.surname}+', '"></strong>
        <strong>Published:</strong>
        <strong th:text="${article.date}"></strong></p>
    <div>
        <img th:src="${article.picture}">
    </div>
    <p th:text="${article.body}"></p>
</article>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1><small class="pull-right"></small> Comments </h1>
            </div>
            <div class="comments-list">
                <div class="media" th:each="comment:${article.comments}">
                    <p class="pull-right"><small th:text="${comment.date}"></small></p>
                    <div class="media-body">
                        <h4 class="media-heading user_name"
                            th:text="${comment.user.profile.name+' '+comment.user.profile.surname}"></h4>
                        <h4 th:text="${comment.comment}"></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>