<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="card">
    <table class="table table-hover shopping-cart-wrap">
        <thead class="text-muted">
        <tr>
            <th scope="col" width="120">Number</th>
            <th scope="col" width="120">Status</th>
            <th scope="col" width="120">Item</th>
            <th scope="col" width="120">Quantity</th>
            <th scope="col" width="120">Check</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <figure class="media">
                    <figcaption class="media-body">
                        <h6 class="title text-truncate" th:text="${order.number}"></h6>
                    </figcaption>
                </figure>
            </td>
            <td>
                <p th:text="${order.status}"></p>
            </td>
            <td>
                <p th:text="${order.item.name}"></p>
            </td>
            <td>
                <p th:text="${order.count}"></p>
            </td>
            <td>
                <div class="price-wrap">
                    <var class="price" th:text="${order.item.price * order.count}+' USD'"></var>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <ul class="pagination" th:if="${pages.size() != 0}">
            <li class="page-item" th:if="${current} != '1'">
                <a class="page-link" th:href="@{/items(page=${current-1})}"><<</a></li>
            <div th:each="page : ${pages}">
                <li class="page-item active" th:if="${page} == ${current}">
                    <a class="page-link" th:href="@{/items(page=${page})}" th:text="${page}"></a></li>
                <li class="page-item " th:unless="${page} == ${current}">
                    <a class="page-link" th:href="@{/items(page=${page})}" th:text="${page}"></a></li>
            </div>
            <li class="page-item" th:if="${current} != ${pages.size()}">
                <a class="page-link" th:href="@{/items(page=${current+1})}">>></a></li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>