<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row pb-3">
        <div class="col-md-12">
            <h5>Reviews</h5>
        </div>
    </div>
    <hr>
    <div class="one-review" th:each="review,stat : ${reviews.listOfReviews}">
        <form id="delete" action="#" th:action="@{/reviews/delete}" method="post">
            <div class="row">
                <label>
                    <input class="checkbox top-left" type="checkbox" form="update"
                           th:field="${reviews.listOfReviews[__${stat.index}__].showed}">
                    <input hidden form="update" th:name="id" th:value="${review.id}"
                           th:field="${reviews.listOfReviews[__${stat.index}__].id}">
                </label>
                <div class="col-md-6">
                    <p th:text="${review.user.profile.name + ' ' + review.user.profile.surname + ' ' +
                review.user.profile.patronymic}"></p>
                </div>
                <div class="col-md-6 text-success">
                    <small th:text="${review.date}"></small>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-12">
                    <p th:text="${review.review}"></p>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col-md-8">
                    <button name="delete" th:value="${review.id}" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
        <hr>
    </div>
    <form id="update" th:action="@{/reviews/save}" th:object="${reviews}"
          method="post">
        <input class="btn btn-success" type="submit"
               value="Update">
    </form>
</div>
<div class="row mb-2">
    <div class="col-md-12">
        <ul class="pagination" th:if="${pages.size() != 0}">
            <li class="page-item" th:if="${current} != '1'">
                <a class="page-link" th:href="@{/reviews(page=${current - 1})}"><<</a></li>
            <div th:each="page : ${pages}">
                <li class="page-item active" th:if="${page} == ${current}">
                    <a class="page-link" th:href="@{/reviews(page=${page})}" th:text="${page}"></a></li>
                <li class="page-item " th:unless="${page} == ${current}">
                    <a class="page-link" th:href="@{/reviews(page=${page})}" th:text="${page}"></a></li>
            </div>
            <li class="page-item" th:if="${current} != ${pages.size()}">
                <a class="page-link" th:href="@{/reviews(page=${current + 1})}">>></a></li>
        </ul>
    </div>
</div>
</body>
</html>