<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<form id="deleteUsers" th:action="@{/private/users/delete}" method="post"></form>
<table>
    <tr>
        <th>Delete</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Patronymic</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <form action="#" th:action="@{/private/users}" method="post">
            <th>
                <center>
                    <input th:if="${user.id!=1}" class="checkbox" type="checkbox" name="ids"
                           th:value="${user.id}" form="deleteUsers">
                </center>
            </th>
            <th>
                <input id="name" name="name" th:value="${user.name}">
            </th>
            <th>
                <input id="surname" name="surname" th:value="${user.surname}">
            </th>
            <th>
                <input id="patronymic" name="patronymic" th:value="${user.patronymic}">
            </th>
            <th>
                <input id="email" name="email" th:value="${user.email}">
            </th>
            <th:block th:if="${user.id==1}">
                <th>
                    <input name="role.name" th:value="${user.role.name}">
                </th>
            </th:block>

            <th:block th:if="${user.id!=1}">
                <th>
                    <select id="role.name" name="role.id">
                        <option th:each="role,stat:${roles}"
                                name="user.id"
                                th:value="${roles[__${stat.index}__].id}"
                                th:text="${roles[__${stat.index}__].name}"
                                th:selected="${user.role.name == roles[__${stat.index}__].name}">
                        </option>
                    </select>
                </th>
            </th:block>
            <th:block th:if="${user.id!=1}">
                <th>
                    <button id="password" name="action" value="password" class="btn btn-success">Password</button>
                </th>
                <th>
                    <button name="action" value="save" class="btn btn-primary">Save</button>
                </th>
            </th:block>
        </form>
    </tr>
</table>
<div class="col-md-2">
    <button th:form="deleteUsers" class="btn btn-danger">Delete</button>
</div>

<div class="pagination justify-content-center">
    <hr>
    <tr th:if="${pages.size() > 0}" th:each="page : ${pages}">
        <th th:if="${page} == ${current}" class="page-item active">
            <a class="page-link" th:href="@{/private/users/{pageNumber}(pageNumber=${page})}" th:text="${page}"></a>
        </th>
        <th th:unless="${page} == ${current}" class="page-item">
            <a class="page-link" th:href="@{/private/users/{pageNumber}(pageNumber=${page})}" th:text="${page}"></a>
        </th>
    </tr>
    <hr>
</div>
</body>
</html>