<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <legend>Users</legend>
        </div>
    </div>
    <form id="deleteUsers" th:action="@{/private/users/delete}" method="post"></form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover table-bordered ">
                <thead>
                <tr class="info">
                    <th><input type="checkbox" value=""></th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Patronymic</th>
                    <th>E-Mail</th>
                    <th>Role</th>
                    <th>Password</th>
                    <th>Save</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <form action="#" th:action="@{/private/users/{id}(id=${user.id})}" th:object="${userDTO}" method="post">
                        <td><input th:if="${user.id!=1}" class="checkbox" type="checkbox" name="ids"
                                   th:value="${user.id}" form="deleteUsers"></td>
                        <td id="name" th:text="${user.profile.name}"></td>
                        <td id="surname" th:text="${user.profile.surname}"></td>
                        <td id="patronymic" th:text="${user.profile.patronymic}"></td>
                        <td id="email" th:text="${user.email}" th:field="*{email}"></td>
                        <td>
                            <select id="role.role" name="role.id" th:if="${user.id!=1}">
                                <option th:each="role,stat:${roles}"
                                        name="user.id"
                                        th:value="${roles[__${stat.index}__].id}"
                                        th:text="${roles[__${stat.index}__].role}"
                                        th:selected="${user.role.role == roles[__${stat.index}__].role}">
                                </option>
                            </select>
                        </td>
                        <td>
                            <button th:if="${user.id!=1}" id="password" name="action" value="password"
                                    class="btn btn-success">New
                            </button>
                        </td>
                        <td>
                            <button th:if="${user.id!=1}" name="action" value="save" class="btn btn-primary">Save
                            </button>
                        </td>
                    </form>
                </tr>

                </tbody>
            </table>
        </div>
        <div class="col-md-2">
            <button th:form="deleteUsers" class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <ul class="pagination" th:if="${pages.size() != 0}">
                <li class="page-item" th:if="${current} != '1'">
                    <a class="page-link" th:href="@{/private/users(page=${current - 1})}"><<</a></li>
                <div th:each="page : ${pages}">
                <li class="page-item active" th:if="${page} == ${current}">
                    <a class="page-link" th:href="@{/private/users(page=${page})}" th:text="${page}"></a></li>
                <li class="page-item " th:unless="${page} == ${current}">
                    <a class="page-link" th:href="@{/private/users(page=${page})}" th:text="${page}"></a></li>
                </div>
                <li class="page-item" th:if="${current} != ${pages.size()}">
                    <a class="page-link" th:href="@{/private/users(page=${current + 1})}">>></a></li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>